{% extends "user/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    </div>
    <table class="table table-bordered table-striped" style="text-align: center;">
		<tr><th>Вітаємо у Chartly! Що Ви хочете оглянути?</th></tr>
		<tr><th><a href="{% url 'tables-home' %}">Таблиці</a></th></tr>
		<tr><th><a href="#">Звіти</a></th></tr>
		<tr><th><a href="#">Інформаційні панелі</a></th></tr>
		<tr><th><a href="{% url 'profile' %}">Інформацію про профіль</a></th></tr>
	</table>
{% endblock content %}