{% extends "table/base_table.html" %}
{% block content %}
	<table class="table table-bordered table-striped" style="text-align: center;">
		<tr>
			<th style="text-align: center;">Оберіть таблицю для огляду</th>
		</tr>
		
		<tr><td><a href="customer">Клієнти</a></td></tr>
		<tr><td><a href="date">Дати</a></td></tr>
		<tr><td><a href="location">Локації</a></td></tr>
		<tr><td><a href="order">Замовлення</a></td></tr>
		<tr><td><a href="product">Товари</a></td></tr>
	</table>
{% endblock content %}
