{% extends "table/base_table.html" %}
{% block content %}
	<a href="#">Переглянути агреговані дані</a>
	<table id="custTable" class="table table-bordered table-striped">
		<tr>
			<th onclick="sortTable(0)">ID</th>
			<th onclick="sortTable(1)">Title</th>
			<th onclick="sortTable(2)">Actor</th>
			<th onclick="sortTable(3)">Category</th>
			<th onclick="sortTable(4)">Price</th>
			<th onclick="sortTable(5)">Special</th>
		</tr>
		{% for data in ProductModel %}
		<tr>
			<td>{{ data.ID }}</td>
			<td>{{ data.Title }}</td>
			<td>{{ data.Actor }}</td>
			<td>{{ data.Category }}</td>
			<td>{{ data.Price }}</td>
			<td>{{ data.Special }}</td>
		</tr>
		{% endfor %}
	</table>

	<script>
		function sortTable(n) {
		  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		  table = document.getElementById("custTable");
		  switching = true;
		  dir = "asc";

		  while (switching) {
		    switching = false;
		    rows = table.rows;

		    for (i = 1; i < (rows.length - 1); i++) {
		      shouldSwitch = false;
		      x = rows[i].getElementsByTagName("TD")[n];
		      y = rows[i + 1].getElementsByTagName("TD")[n];
		      if (dir == "asc") {
		        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
		          shouldSwitch = true;
		          break;
		        }
		      } else if (dir == "desc") {
		        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
		          // If so, mark as a switch and break the loop:
		          shouldSwitch = true;
		          break;
		        }
		      }
		    }

		    if (shouldSwitch) {
		      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
		      switching = true;
		      switchcount ++;
		    } else {
		      if (switchcount == 0 && dir == "asc") {
		        dir = "desc";
		        switching = true;
		      }
		    }
		  }
		}
	</script>
{% endblock content %}
